/* Embed this font from Google Fonts at
https://www.google.com/fonts/specimen/Roboto+Condensed */ 
body {
	/*font-family: "Roboto Condensed";*/
	/* font-family: 'Neuton', serif; */
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1.9em;
	/*line-height: 1.5em;*/
	letter-spacing: 0;
	text-align: left;
	word-spacing: 0;
	text-decoration: none;
	color: #444;
	background-color: #fff;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	/* text-transform: uppercase; */
	/* color: #42D9B7; */
	font-weight: 300;
    font-weight: 300;
    font-size: 3.0em;
    color: black;
}
h1 a {
	/* font-family: 'Source Sans Pro', sans-serif; */
	/* text-transform: uppercase; */
	color: #42D9B7;
}

h2 {
	font-family: 'Neuton', serif;
	color: #42D9B7;
}

h5 {
	color: #42D9B7;
	font-size: 16px;
}

li {
	/*font-family: 'Source Sans Pro', sans-serif;*/
}

.footer {
    /*text-align:center;*/
    padding:20px;
	border-top-width: 1px;
	border-top-style: dashed;
	margin-top: 50px;
}

.footer ul {
	list-style: none;
    padding: 0px;
}

.footer a {
	color: black;
}

.footer h2 {
	font-size: 1.5em;
}

.logo {
	margin-top:-15px;
	margin-top: -12px;
    width: 60px;
}

.banner{
	width: 100%;
	background-repeat:no-repeat;
	background-size:cover;
	background-color:#293787;	
	background-position:50% 50%;
	margin-top: -12px;  /* cancel the navbar margin */
	padding-bottom: 120px;
}

@media only screen and (max-width : 1024px) {
/* ipad landscape */
	.banner{;
		background-repeat:no-repeat;
		background-size:cover;
		background-color:#293787;
		background-position:50% 50%;
		margin-top: -12px;  /* cancel the navbar margin */
		padding-bottom: 20px;
	}
}

@media only screen and (max-width : 768px) {
/* ipad portrait */
	.banner{
		background-repeat:no-repeat;
		background-size:cover;
		background-color:#293787;
		background-position:50% 50%;
		margin-top: -12px;  /* cancel the navbar margin */
		padding-bottom: 20px;
	}
}

@media only screen and (max-width : 414px) {
/* iphone 6 plus portrait */
	.banner{
		background-repeat:no-repeat;
		background-size:cover;
		background-color:#293787;
		background-position:50% 50%;
		margin-top: -12px;  /* cancel the navbar margin */
		padding-bottom: 20px;
	}
}

.banner p{
	color: white;
}

.banner h3{
	color: white;
}

.important {
    min-height: 20px;
    margin-bottom: 20px;
    border: 3px dashed #42D9B7;
    padding-left: 20px;
    padding-right: 20px;
}

.important h3 {
    text-transform: uppercase;
	color: #42D9B7;
}

.bannerwell{
	/*height:250px;*/
	background-repeat:no-repeat;
	background-size:cover;
	background-color:transparent;
	background-position:50% 50%;
	margin-top: -10px;  /* cancel the navbar margin */
}

hr.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 4em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr.fancy-line:after {
    background: #ffffff;
}


.required:after {
	content: '*';
	color: #FF0000;
}

/* Text Editor Wyiswyg : from bootstap form-control */
.text-editor-class {
	display: block;
	width: 100%;
	height: auto;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.themecard {
  height: 280px;
}
.themecard-text {
  height: 250px;
  position: relative;
  overflow: hidden;
}
.themecard-footer {
	background-color: #FFFFFF;
	border-top: 0px solid #FFF;
}

.projectbanner {
	background-size: 100%;
	margin-bottom: 10px;
	background-position-y: 40%;
}

.projectcard {
  height: 340px;
}

.projectcardbanner{
	background-size: 100%;
	height: 200px;
	background-position-y: 20%;
}
 
.projectcard-text {
  height: 330px;
  position: relative;
  overflow: hidden;
}
.projectcard-footer {
	background-color: #FFFFFF;
	border-top: 0px solid #FFF;
}
.projectcard-footer sup{
    position: relative;
    font-size: 90%;
    line-height: 0;
    vertical-align: baseline;
    color: #337AB7;
    font-weight: bold;
}
.blur { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  margin: 0; padding: 30px 0; 
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, white);
}


/* center search */

.global-search {
	text-align:center;
	padding-top:10px;
}
.global-search * {
	display:inline-block;
	margin-bottom:0;
}

.global-search .form-control {
	width:200px;
}

.global-search a {
	display:block;
	padding-top:10px;
}



@media (min-width:500px){
   .global-search {
		padding-top: 10px 0;
		text-align:center;
    }

   .global-search .form-control {
		width:440px;
   }
}

.navplaceholder {
	height: 52px;
	margin-bottom: 20px;
}
.navaffix {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.navbar-inverse {
    background-color: #293787;
    border-color: #293787;
}

.navbar-inverse .navbar-text{
    color: #FFFFFF;
	text-transform: uppercase;
}

.navbar-inverse  .brand-text{
	text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10px;
    line-height: 16px;
    text-align: center;
}

.navbar-inverse .brand-text  > small {
	font-size: 0.7em;
	text-transform: none;
}

.navbar-inverse .navbar-signinsignup,
 {
    background-color: #ffcd00;
	font-weight: bold;
	font-size: small;
}

.navbar {
    border-radius: 0px;
}

.navbar-inverse .navbar-nav > li  {
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a,
.container .nous-rejoindre > li > a {
    color: #FFFFFF;
	text-transform: uppercase;
	
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #ffcd00;
}

.actionaffix {
	position: fixed;
	width: 100%;
	z-index: 1;
	bottom: 10px;
	text-align: right;
	right: 10px;
}
.actionaffix  li {
	display: list-item;
	padding-bottom: 5px;
}

.actionbutton {
	border-radius: 50%;
	width: 60px;
    height: 60px;
	box-shadow: 0px 3px 3px #999;
}

/* Image Crop and Upload Module */
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    /*width:500px;*/
    height:512px;
	border-color: #000;
	border-width: 3px;
	border-style: dashed;
	margin-bottom: 10px;
}
.croppedArea {
	width: 202px;
	height: 202px;
	background: #E4E4E4 none repeat scroll 0% 0%;
	border-color: #000;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 10px;
	margin-top: 10px;
}
.croppedAreaProject {
	/*
	width: 256px;
	height: 256px;
	background: #E4E4E4 none repeat scroll 0% 0%;
	border-color: #000;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 10px;
	margin-top: 10px;
	*/
	/* 512 = Too big */
	display: none;
}
form .progress {
    /*line-height: 15px;*/
}
.progress {
    display: inline-block;
    width: 100px;
    /*border: 3px groove #CCC;*/
	margin-bottom: 10px;
	margin-top: 10px;
}
.progress div {
    /*font-size: smaller;*/
    background: orange;
    width: 0;
	text-align: center;
}

.ownerstyle {
	color: #FF681F;
	/*text-shadow: 0px 0px 5px yellow;*/
}

.label-tag {
    background-color: rgba(51, 51, 51, 0.09);
    color: black;
}


img .responsive {
	padding-bottom:8% !important;
}

.titre-saison2 h1 {
	text-align:center;
	color:#42d9B7;
	padding-bottom: 15px;
}
.container .nous-rejoindre {
	padding-bottom:58px;
	text-align: center;
	padding-left: 0px;
}

.nous-rejoindre .item
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.button
{
	padding: 0.5em 1em !important;
	color: #fff !important;
	font-weight: 100 !important;
	letter-spacing: 0.02em;
	font-size: 0.9em !important;
	border-radius:3px;
}

.button:hover
{
	text-decoration: none;
}

.button-yellow
{
	background-color:#ffcd00 !important;
}

.rejoins >li,
.partenaire >li,
.resultats >li {
	display:block;
}

.rejoins,
.partenaire,
.resultats,
.nous-contacter{
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
	border-radius:3px;
	margin-bottom:35px;
}

.resultats {
	padding:13px;
	background-color:#ffcd00;
}
 
.nous-contacter {
	margin-left:44%;
    margin-top: 28px;
    margin-bottom: 0;
}

.rejoins,
.nous-contacter {
	margin-right:15px;
	background-color:#ffcd00;
}

.partenaire {
	background-color:#42d9B7;
}

.rejoins a,
.partenaire a,
.resultats a,
.nous-contacter a {
	color:white;
}

.asterisk{
	color:#ffcd00 !important;
}

#mc-embedded-subscribe {
	background-color:#ffcd00 !important;
}

.navbar-signinsignup {
	display:none;
}

.resultats{
margin-left: 35%;
margin-right: 30%;
margin-top: 25px;
}

.navbar-brand {
height:70px !important;}

.section-partenaire,
.section-challenge {
	background-color:#293787;
	color:white;
}


.section-partenaire a {
	color:#42D9B7;
}

.section-challenge h1 {
	color:#42D9B7;
}


.mc-field-group {
	width: 20%;
    position: relative;
    padding: 8px 0;
    border: none;
    background: none;
    border-bottom: 2px solid #b3b0aa;
    margin: 0 0 15px;
    color: #ffffff;
	}

.container-newsletter
{
	background-color:#42D9B7;
}

.container-challenges
{
	background-color:#293787;
}

.container-newsletter,
.container-join,
.container-challenges,
.super-container
{
	padding-top: 60px;
	padding-bottom: 60px;
}

#inscrivezvous h2
{
	color: #fff;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
}


.inputs-line > input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #fff;
}
.inputs-line > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #fff;
	opacity:  1;
}
.inputs-line > input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #fff;
	opacity:  1;
}
.inputs-line > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #fff;
}

.inputs-line > .input {
	width: 100%;
	border: none;
	margin-bottom: 10px;
}

.inputs-line > input[type=text],
.inputs-line > input[type=email]
{
	background-color: transparent;
	border-bottom: 1px solid #fff;
}

@media only screen and (min-width : 768px) {

	.inputs-line
	{
		display: flex;
		justify-content: center;
		align-content: center;
	}

	.inputs-line > input
	{
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 0px;
	}

	.inputs-line > input[type=email],
	.inputs-line > input[type=text]
	{

	}
}


.margin-top
{
	margin-top: 30px;
}

.margin-bottom
{
	margin-bottom: 30px;
}

.little-title
{
	font-weight: 900;
	margin-bottom: 15px;
}

.inputs-line .little-title
{
	display: flex;
	align-items: center;
}

.align-center
{
	text-align: center;
}

.container-challenges h1,
.container-partenaires h1
{
	color: #fff;
	margin-bottom: 30px;
}

.container-partenaires
{
	color: #fff;
	background-color:#293787;
}

.white-block
{
	padding: 30px;
	background-color: #fff;
	color: #000000;
	margin-top: 60px;
}

.presse-container
{
	display: none;
}

.footer
{
	margin-top: 0px;
	border-top: 0px;
}

.footer a
{
	font-weight: 100 !important;
}

.footer .item-image img
{
	height: 50px;
	width: auto;
}