.header-top-bottom{
	background: #3847a0;
}
.header-body-bottom{
	background: #fff;
}
.header-top-bottom li.active a,.nav-tabs>li>a:hover{
	background: #fff;
	color: #3847a0;
	border-color: #fff;
}
.header-top-bottom li a{
	color: #fff;
}
.header-body-bottom-content p{
	color: #3848a0;
	font-size: 18px;
}
.header-body-bottom-content h1{
	color: #3848a0;
	margin: 38px 0 20px 0;
}
.content-block p{
	color: #3848a0;
}
.content-block span{
	color: #22ff9d;
    font-size: 18px;
    font-weight: 600;
}
.content-block h2{
	color: #3848a0;
}
.header-body-bottom-blocks-content{
	text-align: left;
}
.header-body-bottom-blocks .content-block{
	padding: 0;
}
.header-body-bottom-blocks .block-img{
	padding-bottom: 0;
	min-height: 89px;
}
.body-values {
    background: #fbfbfb;
}
.content-bottom .tab-content{
	border: 1px solid #e8e8e8;
    float: left;
    width: 100%;
    border-top: 0;
    padding: 40px 10px;
}
.content-bottom .nav-tabs>li>a {
    margin-right: 20px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    min-width: 220px;
    text-align: center;
    color: #4a4a4a;
    font-size: 16px;
    padding: 16px;
}
.content-bottom .nav-tabs .active a{
	background: #fff;
	border-bottom-color:transparent !important; 
} 
.content-bottom .tab-content span {
    color: #3848a0;
    margin-bottom: 1px;
    display: block;
}
.content-bottom .tab-content span,.content-bottom .tab-content p{
	font-size: 16px;
}
.content-bottom{
	padding: 0 50px;
    margin-top: 50px;
}
.block p{
    font-size: 18px;
    color: #3848a0;
}
section.body-bottom.body-how{
	padding-top: 40px;
}
.footer-content {
    background: #3847a0;
    padding: 40px 0 60px 0;
}
.footer-content *{
	color: #fff;
}
.footer-content h1{
	position: relative;
	margin-bottom: 20px;
}
.footer-content h1:after{
	content: ' ';
    width: 85px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 42%;
    bottom: -10px;
}
.footer-content p{
	margin: 40px 0 30px 0;
}
.footer-content p,.footer-content span{
	font-size: 16px;
}
.footer-content span {
    display: block;
    color: #00ffad;
    margin-bottom: 3px;
}